/* .App {
  text-align: center;
} */

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  .card {
    /* border-radius: 20px; */
    overflow: hidden;
    border: none;
    background-color: #F4C2C2
}

.image-card {
    height: 350px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image-card-1 {
    background-color: #18A4F7
}



.image-card img {
    height: 350px;
    width: 100%;
    object-fit: cover
}

.card-text {
    font-size: 13px
}

.card-body a {
    font-size: 12px
}

.about span {
    font-size: 12px
}

